@model IEnumerable<ClimbingInfo.Models.Experience>

@{
    ViewData["Title"] = "Experience_Index";
}

<div class="bg-info rounded text-white row" style="font-family: 'Franklin Gothic Book'; text-shadow: 1px 1px black; padding: 10px;">
    <h1 class="text-center border-primary col-sm-12">Experiences</h1>
    <p>
        <a asp-action="Create" class="btn btn-outline-info bg-secondary text-white">Create New</a>
    </p>
    <table class="table bg-dark rounded table-bordered table-dark table-hover table-responsive">
        <thead>
            <tr>
                <th>
                    Experience Name
                </th>
                <th>
                    Years Climbing
                </th>
                <th>
                    Frequency User Climbs
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExperienceName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.years)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.freq)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ExperienceId" class="btn btn-sm btn-outline-info bg-secondary text-white">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ExperienceId" class="btn btn-sm btn-outline-info bg-secondary text-white">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ExperienceId" class="btn btn-sm btn-outline-info bg-secondary text-white">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
